h3, h1{
  color: cornflowerblue;
  font-size: 20px;
  font-family: 'Courier New';
  align-content: center;
  margin-bottom: 10px;
}
h6{
  color: black;
  font-family: 'Courier New';
  align-content: center;

}

body{
  background-color: lightgrey;
  align-content: center;
}

.col-sm-10 {
 padding: 5px 7px;
}

.btn {
  background-color: navy;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.1s;
  cursor: pointer;
}

#password{
  align-content: center;
}
#username{
 align-self: auto; 
}

.div{
  position: relative;
}

.divOnly {
  margin: auto;
  width: 50%;
  position: center;
  padding-top: 110px;
}

#statusChoice{
  width: max-content;
  align-content: center;
}

.reimbTable {
  margin: 25px auto auto 20px;
  
}

table.reimbTable {
  font-family: 'Courier New';
  border: 1px solid navy;
  background-color: white;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 50px;
  width: 90%; 
  
}

  table.reimbTable td, table.reimbTable th {
      border: 1px solid teal;
      padding: 3px 2px;
  }

  table.reimbTable tbody td {
      font-size: 15px;
      color: black;
  }

  table.reimbTable tr:nth-child(even) {
      background: white;
  }

  table.reimbTable thead {
      background: cornflowerblue;
  }

      table.reimbTable thead th {
          font-size: 14px;
          font-weight: bold;
          color: black;
          text-align: center;
          border-left: 0px solid #D0E4F5;
      }

          table.reimbTable thead th:first-child {
              border-left: none;
          }

  table.reimbTable tfoot td {
      font-size: 14px;
  }

  table.reimbTable tfoot .links {
      text-align: right;
  }

      table.reimbTable tfoot .links a {
          display: inline-block;
          background: #1C6EA4;
          color: #FFFFFF;
          padding: 2px 8px;
          border-radius: 5px;
      }

#addRequest {
  text-decoration-color: black;
  position: center;
}

.reimbForm {
  padding: 75px 50px;
  align-content: center;
  align-self:center;
  width: 75%;
  margin:auto;
}

#formData {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  glyph-orientation-horizontal: inherit;
}
